 <section id="page-tree">
    <div class="container">
        <div class="row">
            <h1><%= t "installation_details.show.title" %></h1>
        </div><!--row-->
    </div><!--container-->
</section><!--page-tree-->

<div class="divied-60"></div>
<div class="container">
    <div class="row">
      <table class="table">
        <thead>
          <tr>
            <th class="col-sm-3"></th>
            <th class="col-sm-3"><h2><i class="ion-earth"></i> <%= t "installation_details.show.environment" %></h2></th>
            <th class="col-sm-3"><h2><i class="ion-clock"></i> <%= t "installation_details.show.time" %></h2></th>
            <th class="col-sm-3"><h2><i class="ion-ios7-cart-outline"></i> <%= t "installation_details.show.money" %></h2></th>
          </tr>
        </thead>

        <tbody>

            <tr class="installation-table-row">
              <td><h2><%= t "installation_details.show.installation" %></h2></td>
              <td><h1><%= @installation_detail.env_ins %></h1></td>
              <td><h1><%= @installation_detail.tim_ins %></h1></td>
              <td><h1><%= @installation_detail.mon_ins %></h1></td>
            </tr>

            <tr class="installation-table-row">
              <td><h2><%= t "installation_details.show.maintenance" %></h2></td>
              <td><h1><%= @installation_detail.env_mai %></h1></td>
              <td><h1><%= @installation_detail.tim_mai %></h1></td>
              <td><h1><%= @installation_detail.mon_mai %></h1></td>
            </tr>

            <tr class="installation-table-row success">
              <td><h2><%= t "installation_details.show.lifetime" %></h2></td>
              <td><h1><%= @installation_detail.env_lif %></h1></td>
              <td><h1><%= @installation_detail.tim_lif %></h1></td>
              <td><h1><%= @installation_detail.mon_lif %></h1></td>
            </tr>

        </tbody>
      </table>
    </div>
    <div class="divied-40"></div>
</div>
