<h1>Listing installation_details</h1>

<table>
  <thead>
    <tr>
      <th>Home type</th>
      <th>Num rooms</th>
      <th>Num ppl</th>
      <th>Light type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @installation_details.each do |installation_detail| %>
      <tr>
        <td><%= installation_detail.home_type %></td>
        <td><%= installation_detail.num_rooms %></td>
        <td><%= installation_detail.num_ppl %></td>
        <td><%= installation_detail.light_type %></td>
        <td><%= link_to 'Show', installation_detail %></td>
        <td><%= link_to 'Edit', edit_installation_detail_path(installation_detail) %></td>
        <td><%= link_to 'Destroy', installation_detail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Installation detail', new_installation_detail_path %>
