<section id="footer-defoult" class="padding-60">
    <div class="container">
        <div class="row">
            <div class="col-md-3 margin-btm20">
                <div class="footer-column">
                    <h3><%= t "footer.about_us" %></h3>
                    <p class="margin-btm20">
                        Lorem ipsum ex vix illud nonummy, novum tation et his. At vix scriptaset patrioque scribentur, at pro fugit erts verterem molestiae, sed et vivendo ali Lorem ipsum ex vix illud nonummy, novum tation et his. At vix scripta patrioque scribentur.
                    </p>

                </div><!--footer columns end-->
            </div>
            <div class="col-md-3 margin-btm20">
                <div class="footer-column">
                    <h3><%= t "footer.ecosystem" %></h3>
                    <ul class="list-unstyled post-list">
                        <li><%= link_to t("pages.index.ecosystem.first_title"), products_path, class: "hover-color" %></li>
                        <li><%= link_to t("pages.index.ecosystem.second_title"), os_path, class: "hover-color" %></li>
                        <li><%= link_to t("pages.index.ecosystem.third_title"), developer_path, class: "hover-color" %></li>
                    </ul>

                </div><!--footer columns end-->
            </div>
            <div class="col-md-3 margin-btm20">
                <div class="footer-column">
                    <h3><%= t "footer.support" %></h3>
                        <ul class="list-unstyled post-list">
                        <li><a href="#" class="hover-color"><%= t "footer.support_planning" %></a></li>
                        <li><a href="#" class="hover-color"><%= t "footer.support_savings" %></a></li>
                        <li><a href="#" class="hover-color"><%= t "footer.support_privacy" %></a></li>
                        <li><a href="#" class="hover-color"><%= t "footer.support_legal" %></a></li>
                    </ul>
                </div><!--footer columns end-->
            </div>
            <div class="col-md-3 margin-btm20">
                <div class="footer-column">
                    <h3><%= t "footer.contact_us" %></h3>
                    <ul class="list-unstyled contact-list margin-btm20">
                        <li><i class="ion-ios7-email"></i> <strong><%= t "footer.contact_us_email" %></strong><%= t "footer.contact_us_email_address" %></li>
                        <li><i class="ion-ios7-world"></i> <strong><%= t "footer.contact_us_website" %>:</strong><%= t "footer.contact_us_website_url" %></li>
                    </ul>
                    <ul class="list-unstyled list-inline social">
                        <li><a href="#"><i class="ion-social-facebook-outline"  data-toggle="tooltip" data-placement="top" title="" data-original-title="Like On Facebook"></i></a></li>
                        <li><a href="#"><i class="ion-social-twitter-outline"  data-toggle="tooltip" data-placement="top" title="" data-original-title="Follow On twitter"></i></a></li>
                    </ul>
                </div><!--footer columns end-->
            </div>
        </div><!--row end -->
        <div class="divied-40"></div>
        <div class="row">
            <div class="col-md-12 text-center margin-btm20">
                <a href="index.html"><%= image_tag "heekariLogo_white_sm.png" %></a>
            </div>
            <div class="col-md-12 text-center">
                <span>&copy; copyright 2014.All right reserved.</span>
            </div>
        </div>
    </div><!--container-->
</section><!--footer default end-->