 <section id="page-tree">
    <div class="container">
        <div class="row">
            <h1><%= t "pages.about.title" %></h1>
        </div><!--row-->
    </div><!--container-->
</section><!--page-tree-->

<div class="divied-60"></div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
        <%= image_tag "HeekariLight_400.png", class: "img-responsive", alt: "Heekari" %>
        </div>
        <div class="col-md-6">
            <h3><%= t "pages.about.subtitle" %></h3>
            <%= textilize t("pages.about.overview") %>
            <%= link_to "Order Heekari", shop_path, class: "btn btn-lg btn-success" %>
        </div>
    </div>
    <div class="divied-40"></div>
</div>

<section id="our-team" class="padding-60">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>Meet Our Team</h3>
            </div>
                <%= render 'pages/about/hiroshi' %>
                <%= render 'pages/about/marvin' %>
        </div>
    </div><!--container-->
</section>