<!--main flex slider start-->
<section id="main-slider-bg">
    <div class="slider-overlay">
        <div class="slider-main">
            <div class="container text-center">
                <ul class="slides">
                    <li>
                        <h1 class="slider-heading">Hello! Welcome to Miron</h1>
                        <p class="slider-desc">Miron is the theme you are looking for.multipurpose layout</p>
                        <a href="#" class="btn btn-lg btn-white">Purchase Now</a>
                    </li>
                    <li>
                        <h1 class="slider-heading">Built with boostrap3</h1>
                        <p class="slider-desc">We used the latest technologies to create an amazing theme.</p>
                        <a href="#" class="btn btn-lg btn-white">Learn More</a>
                    </li>
                    <li>
                        <h1 class="slider-heading">Clean Modern Multipurpose</h1>
                        <p class="slider-desc">Miron is a multipurpose theme that you can use for your business Portfolio or blog.</p>
                        <a href="#" class="btn btn-lg btn-white">take a tour</a>
                    </li>
                    <li>
                        <h1 class="slider-heading">100% Responsive Design</h1>
                        <p class="slider-desc">Miron is a fully responsive layout built with html5 and css3 </p>
                        <a href="contact.html" class="btn btn-white btn-lg">Contact us</a>
                    </li>
                </ul>
            </div> <!-- /container -->
        </div><!--slider main-->
    </div><!--slider overlay-->
</section>
<!--main flex slider end-->
<!--services-->
<section id="services-sec" class="padding-60">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center margin-btm40">
                <h1>Miron HTML5 CSS3 fully responsive website template  </h1>
                <h2 class="subtitle">With Clean and Valid Code.</h2>
            </div>
            <div class="col-md-3 margin-btm20">
                <div class="services-box">
                    <i class="ion-ios7-heart-outline"></i>
                    <h3>Make With Love</h3>
                    <p>
                        Pellentesque in tempor metus. Vestibulum sit amet elit justo, vitae gravida erat. Nam hendrerit leo non enim consectetur tristique eleifend nec turpis. Nulla fermentum, ante dapibus
                    </p>
                </div>
            </div>
            <div class="col-md-3 margin-btm20">
                <div class="services-box">
                    <i class="ion-social-twitter-outline"></i>
                    <h3>Bootstrap3</h3>
                    <p>
                        Pellentesque in tempor metus. Vestibulum sit amet elit justo, vitae gravida erat. Nam hendrerit leo non enim consectetur tristique eleifend nec turpis. Nulla fermentum, ante dapibus
                    </p>
                </div>
            </div>
            <div class="col-md-3 margin-btm20">
                <div class="services-box">
                    <i class="ion-android-developer"></i>
                    <h3>Clean Code</h3>
                    <p>
                        Pellentesque in tempor metus. Vestibulum sit amet elit justo, vitae gravida erat. Nam hendrerit leo non enim consectetur tristique eleifend nec turpis. Nulla fermentum, ante dapibus
                    </p>
                </div>
            </div>
            <div class="col-md-3 margin-btm20">
                <div class="services-box">
                    <i class="ion-ios7-monitor-outline"></i>
                    <h3>Fully Responsive</h3>
                    <p>
                        Pellentesque in tempor metus. Vestibulum sit amet elit justo, vitae gravida erat. Nam hendrerit leo non enim consectetur tristique eleifend nec turpis. Nulla fermentum, ante dapibus
                    </p>
                </div>
            </div>
        </div>
    </div><!--container end-->
</section>
<!--services end-->
<section id="recent-work" class="padding-60">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center margin-btm40">
                <h1>Recently Work</h1>
                <h2 class="subtitle"><i class="ion-image"></i></h2>
            </div>
            <div class="col-md-12">
                <ul class=" portfolio-filters text-center">
                    <li class="filter" data-filter="all">all</li>
                    <li class="filter" data-filter="design">design</li>
                    <li class="filter" data-filter="html">HTML5</li>
                    <li class="filter" data-filter="wordpress">Wordpress</li>
                    <li class="filter" data-filter="seo">Seo</li>
                </ul><!--portfolio filter lisr-->

                <div id="grid" class="row">

                    <div class="portfolio-item mix seo col-xs-12 col-sm-4">
                        <a href="portfolio-single.html">
                            <div class="image-sec">
                                <%= image_tag "img/img-1.jpg", alt: "Portfolio", class: "img-responsive" %>
                                <div class="image-overlay">
                                    <p><i class="ion-ios7-plus-empty"></i></p>
                                </div>
                            </div> <!--image-->
                        </a>
                    </div> <!--portfolio-item -->

                    <div class="portfolio-item mix html seo col-xs-12 col-sm-4">
                        <a href="portfolio-single.html">
                            <div class="image-sec">
                                <%= image_tag "img/img-2.jpg", alt: "Portfolio", class: "img-responsive" %>
                                <div class="image-overlay">
                                    <p><i class="ion-ios7-plus-empty"></i></p>
                                </div>
                            </div> <!--image-->
                        </a>
                    </div> <!--portfolio-item -->

                    <div class="portfolio-item mix wordpress html Design col-xs-12 col-sm-4">
                        <a href="portfolio-single.html">
                            <div class="image-sec">
                                <%= image_tag "img/img-3.jpg", alt: "Portfolio", class: "img-responsive" %>
                                <div class="image-overlay">
                                    <p><i class="ion-ios7-plus-empty"></i></p>
                                </div>
                            </div> <!--image-->
                        </a>
                    </div> <!--portfolio-item -->

                    <div class="portfolio-item mix design col-xs-12 col-sm-4">
                        <a href="portfolio-single.html">
                            <div class="image-sec">
                                <%= image_tag "img/img-4.jpg", alt: "Portfolio", class: "img-responsive" %>
                                <div class="image-overlay">
                                    <p><i class="ion-ios7-plus-empty"></i></p>
                                </div>
                            </div> <!--image-->
                        </a>
                    </div> <!--portfolio-item -->

                    <div class="portfolio-item mix html wordpress col-xs-12 col-sm-4">
                        <a href="portfolio-single.html">
                            <div class="image-sec">
                                <%= image_tag "img/img-5.jpg", alt: "Portfolio", class: "img-responsive" %>
                                <div class="image-overlay">
                                    <p><i class="ion-ios7-plus-empty"></i></p>
                                </div>
                            </div> <!--image-->
                        </a>
                    </div> <!--portfolio-item -->

                    <div class="portfolio-item mix wordpress html design col-xs-12 col-sm-4">
                        <a href="portfolio-single.html">
                            <div class="image-sec">
                                <%= image_tag "img/img-6.jpg", alt: "Portfolio", class: "img-responsive" %>
                                <div class="image-overlay">
                                    <p><i class="ion-ios7-plus-empty"></i></p>
                                </div>
                            </div> <!--image-->
                        </a>
                    </div> <!--portfolio-item -->
                </div> <!--grid -->
                <div class="divied-40"></div><!--divide by 40px -->
                <div class="row">
                    <div class="col-md-12 text-center">
                        <a href="portfolio-3col.html" class="btn btn-theme btn-lg">View Portfolio</a>
                    </div>
                </div><!--row-->
            </div><!--col-md-12-->
        </div><!--row-->
    </div><!--container end-->
</section><!--recent work-->

<section id="about-colored" class="padding-60">
    <div class="container">
        <div class="row">
            <div class="col-md-12 margin-btm20 text-center">
                <h1>About Us</h1>
                <h2 class="subtitle"><i class="ion-ios7-people-outline"></i></h2>
            </div>
            <div class="col-sm-8 col-sm-offset-2 text-center margin-btm20">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse pulvinar scelerisque dictum. Donec iaculis, diam sit amet suscipit feugiat, diam magna volutpat augue, sit amet varius nulla turpis sit amet lacus. Aenean faucibus, sem quis convallis lobortis. Aenean faucibus, sem quis convallis lobortis.
                </p>
            </div>
            <div class="col-sm-12 text-center">
                <ul class="list-unstyled list-inline social">
                    <li><a href="#"><i class="ion-social-facebook-outline"  data-toggle="tooltip" data-placement="top" title="" data-original-title="Like On Facebook"></i></a></li>
                    <li><a href="#"><i class="ion-social-twitter-outline"  data-toggle="tooltip" data-placement="top" title="" data-original-title="Follow On twitter"></i></a></li>
                    <li><a href="#"><i class="ion-social-googleplus-outline"  data-toggle="tooltip" data-placement="top" title="" data-original-title="Follow On googleplus"></i></a></li>
                    <li><a href="#"><i class="ion-social-rss-outline"  data-toggle="tooltip" data-placement="top" title="" data-original-title="rss"></i></a></li>
                    <li><a href="#"><i class="ion-social-linkedin-outline"  data-toggle="tooltip" data-placement="top" title="" data-original-title="Follow On linkedin"></i></a></li>
                    <li><a href="#"><i class="ion-social-pinterest-outline"  data-toggle="tooltip" data-placement="top" title="" data-original-title="pinterest"></i></a></li>
                    <li><a href="#"><i class="ion-social-skype-outline"  data-toggle="tooltip" data-placement="top" title="" data-original-title="skype"></i></a></li>
                    <li><a href="#"><i class="ion-social-dribbble-outline"  data-toggle="tooltip" data-placement="top" title="" data-original-title="dribbble"></i></a></li>
                    <li><a href="#"><i class="ion-social-yahoo-outline"  data-toggle="tooltip" data-placement="top" title="" data-original-title="yahoo"></i></a></li>
                    <li><a href="#"><i class="ion-social-vimeo-outline"  data-toggle="tooltip" data-placement="top" title="" data-original-title="vimeo"></i></a></li>
                    <li><a href="#"><i class="ion-social-github-outline"  data-toggle="tooltip" data-placement="top" title="" data-original-title="github"></i></a></li>
                </ul>
            </div>
        </div>
    </div><!--container-->
</section><!--about Colored-->
<section id="latest-news" class="padding-60">
    <div class="container">
        <div class="row">
            <div class="col-md-12 margin-btm40 text-center">
                <h1>Latest News</h1>
                <h2 class="subtitle"><i class="ion-compose"></i></h2>
            </div>
            <div class="col-sm-4 col-xs-12 margin-btm20">
                <a href="blog-post.html">
                    <div class="image-sec">
                        <%= image_tag "img/img-6.jpg", alt: "Portfolio", class: "img-responsive" %>
                        <div class="image-overlay">
                            <p>by author | 7 may | Design</p>
                        </div>
                    </div> <!--image-->
                </a>
                <div class="blog-desc">
                    <h3><a href="blog-post.html" class="hover-color">Amazing theme for Multi-Purpose</a></h3>
                    <p>
                        aliqua.adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                    </p>
                </div>
            </div>
            <div class="col-sm-4 col-xs-12 margin-btm20">
                <a href="blog-post.html">
                    <div class="image-sec">
                        <%= image_tag "img/img-1.jpg", alt: "Portfolio", class: "img-responsive" %>
                        <div class="image-overlay">
                            <p>by author | 7 may | Design</p>
                        </div>
                    </div> <!--image-->
                </a>
                <div class="blog-desc">
                    <h3><a href="blog-post.html" class="hover-color">Amazing theme for Multi-Purpose</a></h3>
                    <p>
                        aliqua.adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                    </p>
                </div>
            </div>
            <div class="col-sm-4 col-xs-12 margin-btm20">
                <a href="blog-post.html">
                    <div class="image-sec">
                        <%= image_tag "img/img-2.jpg", alt: "Portfolio", class: "img-responsive" %>
                        <div class="image-overlay">
                            <p>by author | 7 may | Design</p>
                        </div>
                    </div> <!--image-->
                </a>
                <div class="blog-desc">
                    <h3><a href="blog-post.html" class="hover-color">Amazing theme for Multi-Purpose</a></h3>
                    <p>
                        aliqua.adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
                    </p>
                </div>
            </div>
        </div><!--row-->
    </div><!--container-->
</section><!--latest news-->