<section id="page-tree">
  <div class="container">
      <div class="row">
        <h1><%= t "pages.save.title" %></h1>
      </div><!--row-->
  </div><!--container-->
</section><!--page-tree-->
<div class="divied-60"></div>
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center margin-btm40">
            <h1><%= t "pages.save.subtitle" %></h1>
            <h2 class="subtitle">
                <i class="ion-android-lightbulb"></i>
            </h2>
        </div>
    </div>
    <div class="row">
        <h2>What type of building?</h2>
        <div class="col-xs-12 col-sm-3">
          <%= image_tag "house.png", class: "img-responsive" %>
        </div>
        <div class="col-xs-12 col-sm-3">
          <%= image_tag "apartment.png", class: "img-responsive" %>
        </div>
        <div class="col-xs-12 col-sm-3">
          <%= image_tag "college.png", class: "img-responsive" %>
        </div>
        <div class="col-xs-12 col-sm-3">
          <%= image_tag "business_woman.png", class: "img-responsive" %>
        </div>
      <div class="divied-60"></div>
    </div>
    <div class="row">
      <form>
        <div class="col-xs-12 col-sm-6">
            <h2>How many rooms?</h2>
            <input type="text" class="plan-installation-number" >
          </div>
          <div class="col-xs-12 col-sm-6">
            <h2>How many people?</h2>
            <input type="text" class="plan-installation-number" >
          </div>
        <div class="divied-60"></div>
      </form>
    </div>

    <div class="row">
        <h2>What type of lights?</h2>
        <div class="col-xs-12 col-sm-3">
          <%= image_tag "LED.png", class: "img-responsive" %>
        </div>
        <div class="col-xs-12 col-sm-3">
          <%= image_tag "cfl.png", class: "img-responsive" %>
        </div>
        <div class="col-xs-12 col-sm-3">
          <%= image_tag "halogen.png", class: "img-responsive" %>
        </div>
        <div class="col-xs-12 col-sm-3">
          <%= image_tag "incandescent.png", class: "img-responsive" %>
        </div>


        <div class="divied-60"></div>
    </div>
</div><!--full width inner page-->
