<!--main flex slider start-->
<section id="main-slider-bg">
    <div class="slider-overlay">
        <div class="slider-main">
            <div class="container text-center">
                <ul class="slides">
                    <li>
                        <h1 class="slider-heading"><%= t "pages.index.slider.first_title" %></h1>
                        <p class="slider-desc"><%= t "pages.index.slider.first_subtitle" %></p>
                        <%= link_to t("pages.index.slider.first_button"), products_path, class: "btn btn-white btn-lg" %>
                    </li>
                    <li>
                        <h1 class="slider-heading"><%= t "pages.index.slider.second_title" %></h1>
                        <p class="slider-desc"><%= t "pages.index.slider.second_subtitle" %></p>
                        <%= link_to t("pages.index.slider.second_button"), save_path, class: "btn btn-white btn-lg" %>
                    </li>
                    <li>
                        <h1 class="slider-heading"><%= t "pages.index.slider.third_title" %></h1>
                        <p class="slider-desc"><%= t "pages.index.slider.third_subtitle" %></p>
                        <%= link_to t("pages.index.slider.third_button"), save_path, class: "btn btn-white btn-lg" %>
                    </li>
                    <li>
                        <h1 class="slider-heading"><%= t "pages.index.slider.fourth_title" %></h1>
                        <p class="slider-desc"><%= t "pages.index.slider.fourth_subtitle" %></p>
                        <%= link_to t("pages.index.slider.fourth_button"), products_path, class: "btn btn-white btn-lg" %>
                    </li>
                </ul>
            </div> <!-- /container -->
        </div><!--slider main-->
    </div><!--slider overlay-->
</section>
<!--main flex slider end-->