<!--services-->
<section id="services-sec" class="padding-60">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center margin-btm40">
                <h1><%= t "pages.index.ecosystem.title" %></h1>
                <h2 class="subtitle"><%= t "pages.index.ecosystem.subtitle" %></h2>
            </div>
            <div class="col-md-4 margin-btm20">
                <div class="services-box">
                    <i class="ion-ios7-heart-outline"></i>
                    <h3><%= t "pages.index.ecosystem.first_title" %></h3>
                    <p>
                        <%= t "pages.index.ecosystem.first_subtitle" %>
                    </p>
                </div>
            </div>
            <div class="col-md-4 margin-btm20">
                <div class="services-box">
                    <i class="ion-social-twitter-outline"></i>
                    <h3><%= t "pages.index.ecosystem.second_title" %></h3>
                    <p>
                        <%= t "pages.index.ecosystem.second_subtitle" %>
                    </p>
                </div>
            </div>
            <div class="col-md-4 margin-btm20">
                <div class="services-box">
                    <i class="ion-android-developer"></i>
                    <h3><%= t "pages.index.ecosystem.third_title" %></h3>
                    <p>
                        <%= t "pages.index.ecosystem.third_subtitle" %>
                    </p>
                </div>
            </div>
        </div>
    </div><!--container end-->
</section>
<!--services end-->