 <div class="divied-60"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="flexslider">
                    <ul class="slides">
                        <li>
                            <%= image_tag "switchHand.jpg", class: "img-responsive", alt: "Heekari Switch" %>
                        </li>
                        <li>
                            <%= image_tag "circuit.jpg", class: "img-responsive", alt: "Heekari Switch" %>
                        </li>
                        <li>
                            <%= image_tag "proto.jpg", class: "img-responsive", alt: "Heekari Switch" %>
                        </li>
                    </ul>
                </div><!--flex slider-->
            </div>
            <div class="col-md-6">
                    <h3><%= t "pages.index.heekari_switch.title" %></h3>
                    <p><%= t "pages.index.heekari_switch.subtitle" %></p>
                    <!--collapse-->
                    <div class="panel-group" id="accordion">
                        <% %w[first second third fourth fifth sixth].each do |w| %>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <%= link_to t("pages.index.heekari_switch.#{w}_title"), "##{w}_collapse", data: {toggle: "collapse", parent: "#accordion"} %>
                                    </h4>
                                </div>
                                <%= content_tag 'div', id: "#{w}_collapse", class: append_first("panel-collapse collapse","in") do %>
                                    <div class="panel-body">
                                        <%= t("pages.index.heekari_switch.#{w}_subtitle") %>
                                    </div>
                                <% end %>
                            </div>
                        <% end %>

                    </div>

                    <!--collapse end-->
            </div>
        </div>

    </div>
</div>