<div class="divied-40"></div>
  <section id="testimonials" class="padding-60">
    <div class="container">
        <div class="row">
            <div class="col-md-12 margin-btm40 text-center">
                <h1><%= t "pages.index.reviews.title" %></h1>
                <h2 class="subtitle"><i class="ion-ios7-chatbubble-outline"></i></h2>
            </div>
            <div class="col-md-10 col-md-offset-1 text-center">
                <div class="testimonials">
                    <ul class="slides">
                        <li>
                            <p class="testi-text"><%= t "pages.index.reviews.first_review" %><p>
                                <span class="testi-person"><%= t "pages.index.reviews.first_person" %></span>
                        </li>
                        <li>
                            <p class="testi-text"><%= t "pages.index.reviews.second_review" %><p>
                                <span class="testi-person"><%= t "pages.index.reviews.second_person" %></span>
                        </li>
                        <li>
                            <p class="testi-text"><%= t "pages.index.reviews.third_review" %><p>
                                <span class="testi-person"><%= t "pages.index.reviews.third_person" %></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div><!--row-->
    </div><!--container-->
</section><!--testimonials-->